<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>社員詳細 | 社員勤怠管理アプリ</title>
	<link th:href="@{/css/style.css}" rel="styleSheet">
</head>
<body class="main">
	<p th:text="${kinds}"></p>
	<h1 class="main__title">社員詳細</h1>
	<h2 th:text="${employeeName}"></h2>
	<h2 th:text="${jsonBody}"></h2>
	<form method="post" action="/clock">
		<button name="clock" value="clockIn" class="main__clockButton">出勤</button>
		<button name="clock" value="breakStart" class="main__clockButton">休憩開始</button>
		<button name="clock" value="breakEnd" class="main__clockButton">休憩終了</button>
		<button name="clock" value="clockOut" class="main__clockButton">退勤</button>
		<input type="hidden" th:value="${employeeId}" name="employeeId">
	</form>
	<table class="main__table">
		<tr>
			<td>出勤日時</td>
			<td>休憩開始日時</td>
			<td>休憩終了日時</td>
			<td>退勤日時</td>
		</tr>
		<tr th:each="clock : ${clockList}">
			<th th:text="${clock.clockIn}"></th>
			<th th:text="${clock.breakStart}"></th>
			<th th:text="${clock.breakEnd}"></th>
			<th th:text="${clock.clockOut}"></th>
		</tr>
	</table>
	<a href="top">社員一覧へ</a>
</body>
</html>